$khaki-bg-color: #4D4729;
$retroFontStyle: 'Stardos Stencil',cursive,sans-serif;
$HandwritingFontStyle: 'Lobster',cursive,sans-serif;

h2 {
    font-family: $HandwritingFontStyle;
}

div {
    font-family: $retroFontStyle;
}