<div class=" m-3 col-md-11">
    <!-- product -->
    <div class="row product-content product-wrap clearfix">
        <div class="col-md-5">
            <div class="product-image"> 
                <img src={{product.image}} alt="194x228" class="img-fluid">  
            </div>
        </div>
        <div class="col-md-7">
            <div class="product-detail">
                    <h5 class="name">
                        <a>
                            {{ product.libelle }} <span>{{ product.categorie }}</span>
                        </a>
                    </h5>
                    <p class="price-container">
                        <span>{{ product.prix }}€</span>
                    </p>
            </div>
            <div class="description">
                <p>Période : {{ product.periode }}</p>
                <p>Pays : {{ product.pays }}</p>
            </div>
            <div class="product-info smart-form">
                <div class="row">
                    <div class="col-md-6"> 
                        <a class="btn btn-dark">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product -->
</div>