<header>
    <h2 class="m-5 text-center border-bottom border-2 border-dark">Nos produits</h2>
</header>

<div class="row m-5">
  <select [(ngModel)]="filterPeriode" class="col m-1" id="selectPeriode">
    <option selected value="">Toutes périodes</option>
    <option *ngFor="let p of periodes$ | async "
    [value]="p.periode" >
        {{ p.periode }} ({{ p.description }})
    </option>
</select>
  <select [(ngModel)]="filterCategorie" class="col m-1" id="selectCategorie">
      <option selected value="">Toutes catégories</option>
      <option *ngFor="let c of categories$ | async "
      [value]="c.categorie" >
          {{ c.categorie }}
      </option>
  </select>
  <select [(ngModel)]="filterPays" class="col m-1" id="selectPays">
    <option selected value="">Tous pays</option>
    <option *ngFor="let p of pays$ | async "
    [value]="p.pays" >
        {{ p.pays }}
    </option>
  </select>
  <div class="col m-1 text-end">
      <button class="btn btn-dark" type="submit" (click)="onApplyFilter()">Appliquer filtres</button>
  </div>
</div>

<div class="row g-3 m-1" *ngFor="let p of catalogue$ | async">
    <app-product-card [product]="p"></app-product-card>
</div>