<footer>
    <div class=" p-3 text-center">        
        <h2>History Bay</h2>
    </div>
    <div class="row g-3">
        <div class="col-md-4">
            <nav class="m-4 border-top border-1 border-dark text-center navbar navbar-light navbar-nav">
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Conditions générales d'utilisation</a>
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Modes de paiements</a>
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Politique de confidentialité</a>
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">FAQ</a>
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Conditions générales de vente</a>
            </nav>
        </div>
        <div class="col-md-4">
            <nav class="m-4 border-top border-1 border-dark text-center navbar navbar-light navbar-nav">
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Annonces</a>
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Evénements</a>
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Plan du site</a>
                <a class="m-1 btn btn-link" routerLinkActive="activebutton">Contact</a>
            </nav>
        </div>
        <div class="col-md-4">
            <nav class="m-4 border-top border-1 border-dark text-center navbar navbar-light navbar-nav"> Nous suivre
                <a class="m-1 btn btn-link" href="https://facebook.com" target="_blank">                    
                    <img src="assets/img/facebook.png" alt="facebook">
                </a>
                <a class="m-1 btn btn-link" href="https://pinterest.com" target="_blank">
                    <img src="assets/img/pinterest.png" alt="pinterest">
                </a>
                <a class="m-1 btn btn-link" href="https://twitter.com" target="_blank">
                    <img src="assets/img/twitter.png" alt="twitter">
                </a>
            </nav>
        </div>
    </div>
    <div>
        Copyright © 2021 History Bay Inc. Tous droits réservés.
    </div>
</footer>